{% load static %}
<link rel="stylesheet" href="{% static 'polls/login.css' %}">
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>

{% load static %}
<link rel="stylesheet" href="{% static 'polls/register.css' %}">

<head><ul>
    <li><a>Login</a></li>
    <li style="float:right"><a class="active" href="{% url 'signup'%}" >Signup</a></li>
</ul></head>
<br>

<body>
<form method="post">
    {% csrf_token %}
    <center><fieldset>

    <td colspan="2" ><label><b>{{ form.username.label }} :</b></label> <br>
        {{ form.username}}</td> <br>

    <td colspan="2" ><label><b>{{ form.password.label }} :</b></label> <br>
        {{ form.password}}</td> <br>

    <button class="button" type="submit">Login</button>
    </fieldset></center>

    <input type="hidden" name="next" value="{{next}}"/>
</form>
{# If you have written a password_reset template, then add here #}
</body>

