<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>

{% load static %}
<link rel="stylesheet" href="{% static 'polls/register.css' %}">

<head><ul>
    <li><a>Register</a></li>
    <li style="float:right"><a class="active" href="{% url 'login'%}" >Login</a></li>
</ul></head>

<br>
<form method="POST">
    {% csrf_token %}
    <fieldset>
        <center><table>
            <tr>
            <div class="group">
            <td colspan="2" ><label><b>{{ form.username.label }} :</b></label>
            {{ form.username}}</td>
            </div>
            </tr>

            <tr>
            <td colspan="2" ><label><b>{{ form.email.label }} :</b></label>
            {{ form.email}}</td>
            </tr>

            <tr>
            <td colspan="2" ><label><b>{{ form.password1.label }} :</b></label>
            {{ form.password1}}</td>
            </tr>

            <tr>
            <td colspan="2" ><label><b>{{ form.password2.label }} :</b></label>
            {{ form.password2}}</td>
            </tr>


        </table></center>


        <button class="button" type="submit">Register</button>
    </fieldset>

</form>

