{% load static %}
<link rel="stylesheet" href="{% static 'polls/register.css' %}">

<legend><h1><div class="frame">Register <a href="{% url 'login'%}" class="button">Login</a></div></h1></legend>


<form method="POST">
    {% csrf_token %}
    <fieldset>
        <center><table>
            <tr>
            <div class="group">
            <td colspan="2" ><label><b>{{ form.username.label }} :</b></label>
            {{ form.username}}</td>
            </div>
            </tr>

            <tr>
            <td colspan="2" ><label><b>{{ form.email.label }} :</b></label>
            {{ form.email}}</td>
            </tr>

            <tr>
            <td colspan="2" ><label><b>{{ form.password1.label }} :</b></label>
            {{ form.password1}}</td>
            </tr>

            <tr>
            <td colspan="2" ><label><b>{{ form.password2.label }} :</b></label>
            {{ form.password2}}</td>
            </tr>


        </table></center>


        <button class="button" type="submit">Register</button>
    </fieldset>

</form>

