{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<div class="frame"><h1>Welcome to KU Polls</h1></div>

<fieldset>
    <legend><h2><div class="frame">List of question</div></h2></legend>
        {% if latest_question_list %}
        <ul>

            {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a></li>
            {% endfor %}

        </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
</fieldset>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <center> <ul {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</ul></center>
    {% endfor %}
</ul>
{% endif %}

